* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	list-style-type: none;
}

html {
	background-color: #231f20;
}

body {
	scroll-behavior: smooth;

	color: #e5e5e5;
}

div#conteinerAll {
	margin: 0 auto;
	width: 93.5vw;
	box-shadow: 0 1px #f01c1c;
}
div#menuCabecalho {
	display: flex;
}

div#containerCabecalho1,
div#containerCabecalho2 {
	padding: 10px 0;
	width: 50%;
	height: 60px;
	background-color: #231f20;
	text-decoration: none;
}

div#containerCabecalho2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div#menuCabecalho a,
div#containerCabecalho2 > #boxIdioma {
	color: #e5e5e5;
	font-size: 0.9vw;
}

div#menuCabecalho a:hover {
	color: rgba(250, 149, 250, 0.333);
}

div#menuCabecalho a,
div#containerCabecalho2 > #boxIdioma {
	padding: 12px;
}

div#containerCabecalho1 a:nth-child(1) {
	padding-left: 0;
}

div#boxIdioma {
	display: inline;
	text-align: center;
}

div#boxIdioma span {
	font-size: 1vw;
	padding: 0 8px;
	display: inline;
	text-align: center;
}

/*  Main Content */
#containerMain {
	margin-top: 0;
	display: flex;
}

#bloco1,
#bloco2,
#bloco3,
#bloco4,
#bloco5,
#bloco6,
#bloco7,
#bloco8,
#bloco9,
#bloco10,
#bloco11,
#bloco12 {
	width: 50px;
	height: 50px;
}

#bloco1 {
	background-color: aqua;
}

#bloco2 {
	background-color: blue;
}
#bloco3 {
	background-color: blueviolet;
}
#bloco4 {
	background-color: rgb(28, 35, 133);
}
#bloco5 {
	background-color: rgb(106, 23, 23);
}
#bloco6 {
	background-color: rgb(22, 127, 116);
}
#bloco7 {
	background-color: rgb(226, 95, 43);
}
#bloco8 {
	background-color: rgb(43, 153, 226);
}
#bloco9 {
	background-color: rgb(76, 161, 27);
}
#bloco10 {
	background-color: rgb(230, 93, 161);
}
#bloco11 {
	background-color: rgb(134, 209, 28);
}
#bloco12 {
	background-color: blueviolet;
}

#contentInternoRevista {
	display: flex;
	font-size: 1.2vw;
	width: 100%;
}

#contentInternoLeft {
	padding: 50px 60px 0 60px;
}

#contentInternoLeft_cabecalho {
	padding-bottom: 25px;
}

#contentInternoLeft_cabecalho h1 {
	font-size: 1.1vw;
}

#contentInternoLeft_about {
	display: flex;
}

#contentInternoLeft_about,
#contentRight {
	width: 50%;
	height: 995px;
}

#contentInternoLeft,
#contentRight {
	max-height: 90%;
	overflow: scroll;
}

#contentInternoLeft > p {
	font-size: 2vh;
	line-height: 1.5;
	padding-bottom: 16px;
}

#contentRight::-webkit-scrollbar {
	display: none;
}

#contentInternoLeft::-webkit-scrollbar {
	display: none;
}

body::-webkit-scrollbar {
	display: none;
}

/* Right page*/

#contentRight {
	background-color: #e5e5e5;
}
